@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* a:hover {
  color: deeppink;
} */

body {
  background-color: #ffc5c3;
}

/* .banner {
  text-align: center;
  display: grid;
  padding: 0 5vw; /* padding: top & bottom , left & right */
/* grid-template-columns: 1fr 1fr 1fr;
} */
/* */
/* .banner .fake-bar {
  border-top: solid #000000 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */
*/ .project-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@keyframes aniCard {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
.card {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: aniCard;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  grid-column-end: span 1;
  transition: 0.3s;
  border-radius: 5px;
  padding: 2px 16px 2px;
  margin: 4px;
}

.card::after {
  content: "";
  display: table;
}

footer {
  text-align: left;
  width: 100vw;
}

html {
  font: 20px/1 Karla, sans-serif;
}

h1 {
  color: orange;
}
h2 {
  color: blueviolet;
  font-size: 30px;
}
hr {
  border-top: 0px;
  border-bottom: 0px solid black;
  border-radius: 5px;
  border-style: solid;
  display: block;
  flex: 1;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 20px 20px 40px 20px;
}

.main-content {
  display: flex;
}

.main-title {
  flex: 1;
}

.left-section {
  flex: 1;
  display: inline-block;
}

.right-section {
  flex: 3;
  display: grid;
  grid-template-rows: 6rem auto 8rem;
  min-height: 100vh;
}

.main-header {
  align-items: center;
  background-color: aliceblue;

  margin-bottom: 1rem;
  padding: 1rem;
}

.nav-list-item {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 25px;
  transition: 0.3s all;
}

.nav-list:hover {
  background: black;
}

.my-info-image-container {
  padding: 0px 0px 0px 50px;
}

.my-info-avatar {
  border-radius: 100%;
  width: 400px;
}

p {
  color: coral;
  font-family: verdana;
  font-size: 20px;
  text-align: left;
  padding: 1em 3em;
}

.projects {
  display: flex;
}
/* .project-card {
    
    
    
    
    display: flex;
    
    padding: 0.5rem;
  }

.project-card-name {
    display: flex;
    flex-direction: column;
} */

.skillz {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}
