@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:hover {
    color: deeppink;
}

body{
    background-color: #FFC5C3;
}

.banner{
    text-align: center;
    display: flex;

}
footer {
    text-align: center;
}

html {
    font: 20px/1 Karla,sans-serif;
    
}


h1 {
    color: orange;
}
h2 { 
    color: blueviolet;
    font-size: 30px;
    
}
hr {
  border-top: 0px;
  border-bottom: 0px solid black;
  border-radius: 5px;  
  border-style: solid;
  display: block;
  flex: 1; 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 20px 20px 40px 20px;
}

.main-content {
    display: flex;
}

.main-title {
    flex: 1;
}

.left-section{
    flex: 1;
    display: inline-block;

}

.right-section{
    flex: 3;
    display: inline-block;
}

.main-header {
    align-items: center;
    background-color: aliceblue;
    justify-content:;
    margin-bottom: 1rem;
    padding: 1rem;
}



.my-info-image-container {
    padding: 0px 0px 0px 50px;
}

.my-info-avatar {
    border-radius: 100%;
    width: 400px;

}

.nav-list{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.nav-list-item {
    margin-right: 1rem;
    display: flex;
    
}

.top {
    display: flex;
}



p {
    color: coral;
    font-family: verdana;
    font-size: 20px;
    text-align: left;
    padding: 1em 3em;

}

.projects {
    display: flex;
    
    
    


}


.skillz {
    text-align: center;
}


 ul {
    list-style: none;
    text-align: center;
    }